$color-black: #000000;
$color-white: #ffffff;
$color-white-2: #d9d9d9;
$color-blue: #2c3c8b;
$color-blue-2: #3b4780;
$color-red: #eb2028;
$color-red-hover: #c31920;
$color-grey: #d9d9d9;
$color-grey1: #c1c3c9;
$color-grey2: #6e7080;
$color-grey3: #848799;
$color-orange:#ff884a;
$color-orange-hvr:#e67c43;
// $color-red: #eb2028;
// $color-red-hover: #c31920;
