$color-black: #000000;
$color-white: #ffffff;
$color-white-2: #d9d9d9;
$color-white-3: #f0f1fa;;
$color-blue: #2c3c8b;
$color-blue-2: #3b4780;
$color-red: #eb2028;
$color-red-hover: #c31920;
$color-grey: #d9d9d9;
$color-grey-2: #848799;
// $color-red: #eb2028;
// $color-red-hover: #c31920;
