$color-black: rgb(0, 0, 0);
$color-white: rgb(255, 255, 255);
$color-blue: rgb(44, 60, 139);
$color-red: rgb(235, 32, 40);
$color-red-hover: rgb(85, 81, 81);
$color-grey: rgba(217, 217, 217, 1);
