// quantity dropdown
.fb-product-info__tocart-qty {
    label {
        left: 40px;
    }

    table {
        height: 100%;

        tbody {
            display: flex;
            align-items: center;
            height: 100%;

            input.dxeEditArea.dxeEditAreaSys {
                padding-left: 10px;
            }

            .dxeButton.dxeButtonEditButton {
                height: 15px !important;
                display: inline-flex;
                align-items: center;
                border: 0;

                &:hover {
                    border: none;
                }

                img {
                    margin-top: 0 !important;
                    margin-bottom: 0 !important;
                }
            }

            .dxic {
                top: 8px;
            }
        }
    }
}
// reduce the size of carttable dropdown
.fb-carttable{
    .fb-product-info__tocart-qty{
        border: none !important;
    }
    .fb-featured__dropdown{
        width: 75px !important;
        padding-left: 20px;
        margin-top: -10px;
        margin-left: 16px;
    }
}
// header nav menu image align
.fb-header-nav__megamenu-cnts {
    align-items: flex-start;
}

//featured prdcts
.fb-product-tile__weight {
    min-height: 13px;
}

// promp image
.fb-monthly-promo__promo-img {
    height: 50px !important;
    width: 75px !important;
}
.fb-pl3{
    padding-left: 50px !important;
    option{
        max-height: 80px;
        overflow: scroll !important;
    }
}
// fb-cart-delete
.fb-modal-footer{
    flex-wrap: nowrap !important;
    justify-content: left !important;
    .cancel{
        width: 92px;
    }
    .delete{
        width: 80px;
    }
}
.fb-prdct-list-outer__view{
        .dxeListBoxItem{
            // padding: 12px 12px 12px !important;
            color: #848799;
            font-weight: 600;
            font-size: 11px;
            line-height: 13px;
            letter-spacing: .55px;
            padding: 8px 10px;
        }
        .dxeListBoxItem:hover{
            background: #f7f8fc;
        }
        #ctl17_drpSort_DDD_L_LBT{
            max-height: 200px !important;
        }
   
}
.fb-recent-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    .fb-recent__product{
        margin: 8px;
    }
}
@include mobile {
    .fb-product-info__tocart-qty {
        label {
            left: 20px;
        }

        table {
            tbody {
                td:first-child {
                    padding-left: 70px !important;
                }

                input.dxeEditArea.dxeEditAreaSys {
                    min-width: 20px;
                    padding-left: 0 !important;
                }

                .dxic {
                    left: -18px;
                }
            }
        }
    }
    .fb-recent-list{
        flex-wrap: wrap;
        justify-content: flex-start;
        .fb-recent__product{
            margin: 16px 0;
            width: 50%;
            display: block;
            img{
                max-height: 150px
            }
        }
    }
}