// quantity dropdown
.fb-product-info__tocart-qty {
  label {
    left: 40px;
  }

  table {
    height: 100%;

    tbody {
      display: flex;
      align-items: center;
      height: 100%;

      input.dxeEditArea.dxeEditAreaSys {
        padding-left: 10px;
      }

      .dxeButton.dxeButtonEditButton {
        height: 15px !important;
        display: inline-flex;
        align-items: center;
        border: 0;

        &:hover {
          border: none;
        }

        img {
          margin-top: 0 !important;
          margin-bottom: 0 !important;
        }
      }

      .dxic {
        top: 8px;
      }
    }
  }
}

// reduce the size of carttable dropdown
.fb-carttable {
  .fb-product-info__tocart-qty {
    border: none !important;
  }

  .fb-featured__dropdown {
    width: 75px !important;
    padding-left: 20px;
    margin-top: -10px;
    margin-left: 16px;
  }
}

.fb-header-nav__megamenu-cnts {
  align-items: flex-start;
}

//featured prdcts
.fb-product-tile__weight {
  min-height: 13px;
}

// promp image
.fb-monthly-promo__promo-img {
  height: 50px !important;
  width: 75px !important;
}

.fb-pl3 {
  padding-left: 50px !important;

  option {
    max-height: 80px;
    overflow: scroll !important;
  }
}

// fb-cart-delete
.fb-modal-footer {
  flex-wrap: nowrap !important;
  justify-content: left !important;

  .cancel {
    width: 92px;
  }

  .delete {
    width: 80px;
  }
}

.fb-prdct-list-outer__view {
  .dxeListBoxItem {
    // padding: 12px 12px 12px !important;
    color: #848799;
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.55px;
    padding: 8px 10px;
  }

  .dxpc-mainDiv {
    margin-top: 30px;
  }

  .dxeListBoxItem:hover {
    background: #f7f8fc;
  }

  #ctl17_drpSort_DDD_L_LBT {
    max-height: 200px !important;
  }
}

.dxpcDropDown {
  margin-top: -18px !important;
}

.fb-prdct-list-outer__viewlink {
  &.active {
    background: #f0f1f5;
    border: 1px solid #f0f1f5;
  }
}

.fb-recent-list {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .fb-recent__product {
    margin: 8px;
  }
}

.fb-product-info__tocart-label {
  left: 65px !important;
}

.fb-prdct-list-outer__grid {
  .fb-featured__dropdown {
    border-radius: 5px !important;
    border-radius: 5px !important;
    padding-left: 60px !important;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 10px;
  }
}

.fb-checkout-recipie {
  background-color: #f0f1fa;
  margin-bottom: 20px;
}

.fb-featured .slick-dots li button:before {
  content: "";
  background-color: #fff;
}

.fb-checkout-recipes {
  .fb-checkout-recipes-tile {
    padding: 14px !important;
  }
}

.fb-checkout-recipes {
  .fb-checkout-recipes-tile__desc .fb-title-head {
    font-size: 14px !important;
    padding-bottom: 0 !important;
  }
}

.fb-recipie-head {
  .fb-title-head {
    padding-top: 40px;
    padding-bottom: 0 !important;
  }
}

.fb-cart-price {
  padding-left: 7px;
}

.fb-recipe__filters {
  display: flex;
  justify-content: center;
}

.fb-product-horizontal {
  .fb-product-horizontal-outer {
    width: 25%;

    .fb-product-tile__tile-img {
      width: 100%;
    }
  }
}

.fb-prdct-list-outer__view {
  &.dropdown {
    table {
      padding: 4px !important;
    }

    .dxic {
      input {
        color: $color-grey2;
        font-weight: 500;
        font-size: 13px;
      }
    }

    .dxeButton.dxeButtonEditButton {
      border: 0;
      background: none;
    }

    .dxeListBoxItemSelected {
      background-color: transparent !important;
    }
  }
}

.fb-move-selected {
  position: relative;
}

.fb__cart-label-outer {
  position: relative;

  .fb-product-info__tocart-label {
    left: 26px !important;
    top: 16px;
  }
}

.fb-product-info__tocart {

  .fb-product-info__tocart-qty,
  .fb-product-info__tocart-buynow {
    margin-left: 10px !important;
  }
}

.fb-register__outer {
  span {
    margin-top: 10px !important;
  }
}

.fb-register__dropdown {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  select {
    width: 100%;
    max-width: 60px;
    height: 40px;
    font-size: 12px;
    font-weight: 500;
    font-family: Spartan;
    text-align: center;
    color: #848799;
    padding: 8px;
    background: #fff;
    border: 1px solid #c1c3c9;
    border-radius: 3px;
    outline: none;
    margin-right: 8px;

    option {
      padding: 8px;
    }
  }

  .fb-input__text {
    flex: 1;
  }
}

.fb-register {
  &__label-outer {
    padding: 4px 0 !important;
  }
}

.fb-cdc-list {
  .fb-click-drop__link {
    background-color: transparent;
    border: none;
    padding-left: 0 !important;
  }
}

.fb__cart-label-outer {
  .dxeButtonEditButton {
    border: none !important;
    background: none !important;
  }
}

// error text
.fb-input__box {
  & .fb-input>span {
    color: $color-red !important;
    font-weight: 500 !important;
  }
}

.error {
  border-color: $color-red !important;
}

.fb-recipe__filters {
  .dxeButtonEdit {
    border-radius: 5px !important;
  }

  .dxeButtonEditButton {
    background: none !important;
    border: none !important;
  }

  .dxeButtonEditButton:hover {
    background: none !important;
    border: none !important;
  }

  .dxeButtonEdit .dxeEditArea {
    color: #848799 !important;
    font-family: "Spartan" !important;
    font-style: normal !important;
    font-weight: 600 !important;
  }
}

.fb-product-tile__cta {
  .dxeButtonEditButton {
    background: none !important;
    border: none;
  }

  .dxeButtonEditButton:hover {
    border: none !important;
  }
}

.fb-input__text-wrap2 {
  width: 100%;
  background: #fff;
  border: 1px solid #c1c3c9;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
}

.fb-md-modal {
  .btn-close {
    float: right;
    padding: 10px !important;
  }
}

// .fb-cart-qty{
//     .dxeButtonEditButton{
//         background: none !important;
//     }
// }
.fb-cart-qnty {
  .fb-featured__dropdown {
    padding: 12px 18px 10px 54px !important;
  }

  .dxeButtonEditButton {
    background: none !important;
    border: none !important;
  }
}

// to setup the horizonatal view of the section
.fb-product-tile.horizontal .fb-product-tile__tile-img {
  width: 100% !important;
}

.fb-modal-footer {
  .delete {
    background: #2c3c8b !important;
    color: #fff !important;
  }
}

@include mobile {
  .fb-product-info__tocart-qty {
    label {
      left: 20px;
    }

    table {
      tbody {
        td:first-child {
          padding-left: 70px !important;
        }

        input.dxeEditArea.dxeEditAreaSys {
          min-width: 20px;
          padding-left: 0 !important;
        }

        .dxic {
          left: -18px;
        }
      }
    }
  }

  .fb-recent-list {
    flex-wrap: wrap;
    justify-content: flex-start;

    .fb-recent__product {
      margin: 16px 0;
      width: 50%;
      display: block;

      img {
        max-height: 150px;
      }
    }
  }

  .ae-benefit-tile {
    display: none;
  }
}

// my account link color change
.fb-header__action-wrap {
  .fb-header__action-text a {
    color: #464c69 !important;
    font-weight: 600;
  }

  &:hover {
    .fb-header__action-text {
      a {
        color: #eb2028 !important;
      }
    }
  }
}

// 15-11-2023
.fb-review-rating__maincontent {
  display: contents;
}

.highcharts-label {
  visibility: hidden;
}

.fb-message_noproducts {
  display: block;
  width: 100%;

  .fb-message {
    font-size: 14px !important;
    justify-content: center;

    img {
      width: 35px;
      height: 36px;
    }
  }
}

// 22-12-2023
.fb-fulfillment__radio-sec table td {
  display: flex;
  align-items: flex-start;
  margin-bottom: 16px;

  input {
    margin-right: 16px;
  }

  span {
    display: flex;
    align-items: flex-start;
  }
}

// 26-12-2023
#panelsStayOpen-headingOne.accordion-header {
  pointer-events: all;
}

// 27-12-2023
.fb-checkout-formout {
  padding-top: 120px;

  .fb-your-addinfo__details {
    padding: 40px 0;
    display: flex;
    justify-content: center;
  }

  .fb-Ai {
    width: 60%;
    padding: 16px;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: relative;

    .btn-close {
      position: absolute;
      right: -12px;
      top: -12px;
      z-index: 99;
      width: 15px;
      height: 15px;
      background-color: #eb2028;
      border: 1px solid #e82430;
      color: #fff;
      border-radius: 50%;
      background-size: 35%;
      opacity: 1;
      transition: 0.3s;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13.99 12.01'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23fff;%7D%3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_3' data-name='Layer 3'%3E%3Cpolygon class='cls-1' points='11.45 0 7 4.67 2.54 0 0 0 5.72 6 0 12.01 2.54 12.01 7 7.34 11.45 12.01 13.99 12.01 8.27 6 13.99 0 11.45 0'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

      &:hover {
        background-color: #fff;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13.99 12.01'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23e82430;%7D%3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_3' data-name='Layer 3'%3E%3Cpolygon class='cls-1' points='11.45 0 7 4.67 2.54 0 0 0 5.72 6 0 12.01 2.54 12.01 7 7.34 11.45 12.01 13.99 12.01 8.27 6 13.99 0 11.45 0'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      }
    }
  }

  .fb-input__box {
    max-width: unset !important;
  }
}

@include mobile {
  .fb-checkout-formout {
    .fb-Ai {
      width: 90%;
    }
  }
}

.fb-upproductinfo {
  .fb-mailed-gift .fb-input {
    flex-direction: column;
  }

  .fb-mailed-gift {
    align-items: normal;
    flex-direction: column;
    margin-left: 6px;
  }
}

// cart table - 29-12-2023

.fb-carttable__item {
  .fb-input-checkbox-wrap {
    margin-right: 16px;
  }

  .fb-carttable__itemcnt {
    display: flex;
    align-items: center;

    a {
      margin-bottom: 0;
    }

    &.prdct {
      align-items: flex-start;
      flex-direction: column;
      justify-content: center;
    }
  }
}

.fb-product-tile__cta {
  .dxeButtonEditSys td.dxic {
    padding: 0px 2px 2px;
  }
}

// 05-01-2024
.fb-header__search {
  padding: 6px 8px !important;

  &-input {
    // overflow-x: scroll;
    // padding-bottom: 2px;

    // &::-webkit-scrollbar {
    //   height: 1px;
    // }

    // &::-webkit-scrollbar-track {
    //   box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
    // }

    // &::-webkit-scrollbar-thumb {
    //   background-color: darkgrey;
    //   outline: 1px solid slategrey;
    // }

    table {
      // min-width: 1000px;
      border: 0;

      .dxeToken {
        background: #fff;
        border-color: #2c3c8b;
        font-size: 14px;
      }
    }
  }

  &-icon {
    margin-right: 4px;
  }
}

// 06-01-2024
#ctl13_rdlpaymentMethods tr {
  &:first-child {
    display: none
  }
}

@include mobile {

  #ctl13_rdlpaymentMethods,
  #ctl13_rblFulfilment {
    tr td {
      padding-left: 0 !important;
    }
  }
}

// 08-01-2024
.fb-prdct-lstng__pagination {
  #ctl18_btnNext {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 18L15 12L9 6' stroke='%23a7aabe' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 18L15 12L9 6' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    }
  }

  #ctl18_btnPrev {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 6L9 12L15 18' stroke='%23a7aabe' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 6L9 12L15 18' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    }
  }
}

.fb-header__search {
  position: relative;

  #ctl13_tknProducts_DDD_PW-1 {
    margin-top: 20px !important;
    left: 0px !important;
    // top: 25px !important;
    bottom: auto;
  }

  &-icon {
    a {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  &-input {
    table td {
      border: 0 !important;
    }
  }
}

// 09-01-2024
.fb-ac-dash-myaddress__ship-bill {
  .address-box .address-box-item span {
    overflow-wrap: break-word;
  }
}

// 11-01-2024
.fb-product-tile__price {
  span {
    font-size: 10px;
    color: #848799;
    text-decoration-line: line-through;
    text-decoration-style: double;
    font-weight: 500;
    margin-left: 8px;
  }
}

// login password icon

.fb-login_popup__form-field {
  .fb-input__text-wrap {
    position: relative;

    .fb-register__pass-icon {
      top: 50%;
    }
  }
}

// 12-01-2024
.fb-product-info__price-box {
  s {
    font-size: 12px;
  }
}

.fb-product-info__overview .fb-product-info__shotD-list {
  &::before {
    content: none;
  }

  span {
    li {
      position: relative;
      padding-left: 8px;
      padding-bottom: 8px;

      &::before {
        content: "";
        background-color: #eb2028;
        display: inline-block;
        width: 4px;
        height: 4px;
        position: absolute;
        left: -10px;
        top: 3px;
        border-radius: 50%;
      }
    }
  }
}

.fb-login_popup__form-field .fb-register__pass-icon {
  top: 50%;
  transform: translateY(-50%);
}

// image slider - detail page
.fb-product-media {
  // flex-direction: row-reverse;

  .dx-contentBox {
    width: 100% !important;
    height: 450px !important;
  }

  .dxeImage {
    height: 100%;
  }
}

@include tablet {
  .fb-product-media {

    .dx-contentBox {
      width: 100% !important;
      height: 320px !important;
    }
  }
}

@include mobile {
  .fb-product-media {

    .dx-contentBox {
      width: 100% !important;
      height: 300px !important;
    }
  }
}

// 
.fb-product-info__price-main--rev {
  margin-top: 16px;

  .fb-product-info__price-wrap {
    margin-right: 16px;
    flex-direction: column;

    p {
      font-size: 12px;
      margin-bottom: 4px;
    }

    .fb-product-info__price {
      color: #eb2028;
    }

    &--grey {

      p,
      div,
      span {
        color: #c1c3c9 !important;
      }
    }
  }
}

// 17-01-2024
.fb-product-info {
  &__bulkout {
    padding: 10px;
    display: inline-block;
    border: 1px dashed;
    border-radius: 5px;

    h4 {
      font-size: 18px;
      font-weight: 600;
      color: #2c3c8b;
      text-decoration: underline;
    }

    .fb-product-info__price-main {
      margin-top: 10px;

      .fb-product-info__priceoffer {
        font-size: 15px;
        font-weight: 500;
        color: #eb2028;
      }
    }

    .fb-product-info__price-main {
      justify-content: space-between;
    }
  }
}

// 18-01-2024
.fb-ac-ad-address__checkwrap {
  padding: 8px 0;

  &>div {
    margin-bottom: 4px;
  }

  label {
    margin-left: 8px;
  }

  .fb-ac-ad-address__box-link {
    padding-left: 0;
    margin-left: 0;
    border: 0;
  }
}

// 19-01-2024
.fb-register__dropdown select {
  min-width: 75px;
}

// 22-01-2024
.product-d__list li {
  &::after {
    top: 6px !important;
  }
}

.fb-pages__faq {
  min-height: calc(100vh - 400px);
}

// 23-01-2024
.fb-sbar__nav-item {
  &:first-child svg {
    width: 20px !important;
  }

  .fb-sbar__nav-link {
    svg {
      margin-right: 16px;
      width: 20px;
    }

    &.active {
      svg {
        path {
          fill: #3b4780;
        }
      }
    }
  }
}

// 06-02-2024
.dxpcLite.dxpclW,
.dxpcModalBackLite {
  display: none !important;
}

// addinfo input

.fb-your-addinfo__details {
  .fb-input {
    position: relative;
  }

  .fb-add-drpdown {
    position: absolute;
    right: 0;
    top: 35px;
  }
}

// banner height
@include mobile {
  .fb-MainBanner {
    margin-top: 8px !important;

    .fb-MainBanner__tile-wrap {
      max-height: 400px;

      .fb-MainBanner__tile {
        max-height: 400px;
      }

      .fb-MainBanner-img {
        height: 100%;
      }
    }
  }
}

// valid field reset password
.fb-login_popup__form-field {
  .fb-input span {
    color: #eb2028;
    display: block;
    margin-bottom: 8px;
    font-size: 11px;
    font-weight: 500;
    margin-top: 8px;
  }
}

// fb order
.fb-cartpage__cnt .fb-order {
  overflow: unset;
}

// nav link active
.fb-header-nav__link.active {
  color: #fff;
  background-color: #eb2028;
}

// 
.fb-carttable__itemcnt.select {
  .fb-featured__dropdown {
    margin-top: 0;
  }
}

.fb-carttable__itemcnt {
  &:nth-child(2) {
    p {
      transform: translateX(10px);
    }
  }

  &:nth-child(4) {
    p {
      transform: translateX(24px);
    }
  }
}

@include mobile {
  .fb-carttable__itemcnt {
    &:nth-child(2) {
      p {
        transform: translateX(0px);
      }
    }

    &:nth-child(4) {
      p {
        transform: translateX(0px);
      }
    }
  }
}

// dropdown wrap
.fb-dropdown-outer {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px;

  .fb-dropdown {
    width: calc(50% - 16px) !important;
    margin: 0 8px 16px;
  }
}

@include mobile {
  .fb-dropdown-outer {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px;

    .fb-dropdown {
      width: calc(100% - 16px) !important;
      margin: 0 8px 16px;
    }
  }
}