// .fb-checkout-recipes{
//     padding: 0 0 32px 0;
  .fb-checkout-recipes{
    .fb-checkout-recipes-tile {
        padding: $spacer-4;
        background-color: $color-white;
        box-shadow: 0 5px 15px rgba(0,0,0,.03);
        border-radius: 5px;
        display: block;
        transition: 0.3s;
        width: 100%;
    
        &__img {
            height: 235px;
            border-radius: 5px;
            margin-bottom: $spacer-3;
            overflow: hidden;
            display: flex;
    
            img {
                width: 100%;
                height: 100%;
            }
        }
        &__desc {
            .fb-title-head {
                font-size: 16px;
                font-weight: 600;
                padding-bottom: $spacer-3;
            }
        }
        &__sub-desc {
            display: flex;
        }
        &__cooking {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            p {
                color: #848799;
                font-size: 11px;
                font-weight: 400;
                font-family: 'Spartan';
                font-style: normal;
                
            }
            p::after{
                color: #848799;
                font-family: 'Spartan';
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
                font-size: 14px;
            }
        }
        &__vertical{
            border-left: 1px solid #848799;
            height: 16px;
            margin: 16px auto;
        }
        &__icon {
            width: 20px;
             height: 20px;
            margin-right: $spacer-2;
            img {
                width: 100%;
                height: 100%;
            }
        }
        &:hover {
            box-shadow: 0 5px 20px #c8cde3;
            transition: 0.3s;
        }
    }
    .slick-dots{
        bottom: -38px !important;
    }
    &-slick{
        div{
            margin: 8px;
        }
    }
    .slick-prev,
    .slick-next {
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      border-radius: 50%;
      width: 45px;
      height: 45px;
      z-index: 1;
      // background-image: url(../images/ArrowCircle.svg);
      background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='20' cy='20' r='20' transform='matrix(-1 0 0 1 40 0)' fill='white'/%3E%3Cpath d='M23 13L16.1707 19.8293L23 26.4198' stroke='%23EB2028' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center center;

      &::before,
      &::after {
        content: "";
      }

      &:hover {
        // background-image: url(../images/ArrowCircleHvr.svg);
        background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='20' cy='20' r='20' transform='matrix(-1 0 0 1 40 0)' fill='%23EB2028'/%3E%3Cpath d='M23 13L16.1707 19.8293L23 26.4198' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
      }

      &:focus {
        // background-image: url(../images/ArrowCircleHvr.svg);
        background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='20' cy='20' r='20' transform='matrix(-1 0 0 1 40 0)' fill='%23EB2028'/%3E%3Cpath d='M23 13L16.1707 19.8293L23 26.4198' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
      }
    }

    .slick-prev {
      left: -60px;
    }

    .slick-next {
      right: -60px;
      transform: translate(0, -50%) rotate(180deg);
    }
  }
    
// }
