.fb-customer {
  background-color: #fcfcff;

  &__outer {
    padding: 10px 0;

    .slick-prev,
    .slick-next {
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      border-radius: 50%;
      width: 45px;
      height: 45px;
      z-index: 1;
      // background-image: url(../images/ArrowCircle.svg);
      background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='20' cy='20' r='20' transform='matrix(-1 0 0 1 40 0)' fill='white'/%3E%3Cpath d='M23 13L16.1707 19.8293L23 26.4198' stroke='%23EB2028' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center center;

      &::before,
      &::after {
        content: "";
      }

      &:hover {
        // background-image: url(../images/ArrowCircleHvr.svg);
        background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='20' cy='20' r='20' transform='matrix(-1 0 0 1 40 0)' fill='%23EB2028'/%3E%3Cpath d='M23 13L16.1707 19.8293L23 26.4198' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
      }

      &:focus {
        // background-image: url(../images/ArrowCircleHvr.svg);
        background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='20' cy='20' r='20' transform='matrix(-1 0 0 1 40 0)' fill='%23EB2028'/%3E%3Cpath d='M23 13L16.1707 19.8293L23 26.4198' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
      }
    }

    .slick-prev {
      left: -60px;
    }

    .slick-next {
      right: -60px;
      transform: translate(0, -50%) rotate(180deg);
    }
  }

  &__item {
    // background-color: #000;
    padding: 85px 30px 40px;
    margin: 10px;
    width: 380px;
    color: $color-black;
    // box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.03);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: relative;
    transition: 0.3s;
    border: 1px solid rgba(0, 0, 0, 0.05);

    &::before {
      position: absolute;
      content: "“";
      left: 20px;
      top: 12px;
      font-size: 170px;
      color: #dfeaf4;
    }

    &:hover {
      transition: 0.3s;
      transform: scale(1.04);
      border: 1px solid $color-red;
    }
  }

  &__feed-back {
    font-size: 13px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.33px;
    min-height: 168px;
    color: #848799;
  }

  &__author {
    display: flex;
    align-items: center;
    margin-top: $spacer-3;

    .image {
      width: 45px;
      height: 45px;

      img {
        width: 100%;
      }
    }

    .name {
      color: #51535d;
      font-size: 13px;
      line-height: 20px;
      letter-spacing: 0.33px;
      font-weight: 600;
      margin-left: 22px;
      margin-top: 5px;
    }
  }

  &__title {
    font-size: 28px;
    font-weight: 700;
    color: #3b4780;
    text-align: center;
    margin-bottom: $spacer-5;
  }
}

@include tablet {
  .fb-customer {
    &__outer {

      .slick-prev,
      .slick-next {
        width: 35px;
        height: 35px;
      }

      .slick-prev {
        left: -20px;
      }

      .slick-next {
        right: -20px;
      }
    }
  }
}

@include mobile {
  .fb-customer {
    &__outer {

      .slick-prev,
      .slick-next {
        width: 35px;
        height: 35px;
      }

      .slick-prev {
        left: 0px;
      }

      .slick-next {
        right: 0px;
      }
    }

    &__title {
      margin: $spacer-4 0;
    }
  }
}