.fb-dicover {
  padding: $spacer-4 0;

  &__outer {
    display: flex;
    margin: 0 -8px;
    padding-bottom: $spacer-4;
    position: relative;

    &::after {
      z-index: 1;
      content: "";
      position: absolute;
      bottom: -6%;
      left: 23%;
      width: 498px;
      height: 248px;
      background-image: url(https://www.frabellemarketplace.ph/static/version1672902296/frontend/Kemana/frabelle/en_US/images/recipes-bg-down.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  &__module-left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(35% - 16px);
    margin: 0 8px;
  }

  &__module-right {
    position: relative;
    z-index: 2;
    width: calc(65% - 16px);
    margin: 0 8px;
    position: relative;
  }

  &__right-inner {
    display: flex;
    margin: 0 -10px;
    flex-wrap: wrap;

    &--second-outer {
      margin-top: $spacer-5;
    }
  }

  &__right-one {
    width: calc(50% - 20px);
    margin: 0 10px 20px 10px;

    &--second-tile {
      width: calc(25% - 20px);
    }
  }

  &--grey {
    background-color: #fcfcff;
    position: relative;
    z-index: 3;
  }
}

@include tablet {
  .fb-dicover {
    &__outer {
      display: block;
    }

    &__module-left {
      width: 100%;
      padding-bottom: $spacer-4;
      margin: 0;

      &::after {
        display: none;
      }
    }

    &__module-right {
      width: 100%;
      margin: 0;
    }

    &__right-inner {
      margin: 0;
    }

    &__right-one {
      &--second-tile {
        width: calc(50% - 20px);
      }
    }
  }
}

@include mobile {
  .fb-dicover {
    &__outer {
      display: block;

      &::after {
        display: none;
      }
    }

    &__module-right {
      width: 100%;
      margin: 0;
    }

    &__right-inner {
      margin: 0;
    }

    &__right-one {
      width: 100%;

      &--second-tile {
        width: 100%;
        margin: 8px 0;
      }
    }

    &__module-left {
      width: 100%;
      padding-bottom: $spacer-4;

      &::after {
        display: none;
      }
    }
  }
}