.fb-notfound{
    &__title{
        text-align: center;
    width: 100%;
    color: #848799;
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    font-size:20px;
    }
}