.fb-featured {
  padding: 0 0 $spacer-5 $spacer-0;

  &__product-slick {
    width: 100%;
    margin: 0 -16px;

    .fb-product-tile {
      flex: 1;
    }
  }

  .fb-product-info__tocart-label {
    left: 70px !important;
  }

  &__dropdown {
    padding: 12px 18px;
    font-size: 12px;
    width: 110px;
    // padding-left: 60px;
    padding-left: 35px;
    border-radius: 3px;
    border: 1px solid #2c3c8b;
  }

  .nav {
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
  }

  .nav-link {
    width: 60px;
    color: $color-white;
    font-weight: 700;
    font-size: 11px;
    padding: $spacer-2;
    border: 1px solid #eb2028;
    color: #eb2028;
  }

  .nav-link.active {
    color: $color-white;
    background-color: #eb2028;
  }

  .nav-item {
    &:nth-child(1) {
      .nav-link {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }
    }

    &:nth-child(2) {
      .nav-link {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }

  .slick-dots-container {
    width: 50%;
    overflow: hidden;
    display: block;
    padding: 0;
    margin: 0.625rem auto;
    // height: 0.875rem;
    position: relative;
  }

  .slick-dots-container>ul {
    padding: 0;
    display: flex;
    justify-content: center;
    transition: all 0.25s;
    position: relative;
    margin: 0;
    list-style: none;
    transform: translateX(0);
    align-items: center;
    bottom: unset;
    height: 100%;
  }

  .slick-dots li button {
    height: 10px;

    &:before {
      content: "";
      width: 20px;
      height: 8px;
      // color: $color-white;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
      border-radius: 10px;
      background-color: #d9d9d9;
      opacity: 1;
      transition: 0.3s;
    }

    &:hover {
      &:before {
        transition: 0.3s;
        background-color: #eb2028;
      }
    }
  }

  .slick-dots li.slick-active button:before {
    background-color: #eb2028;
  }

  .tab-content {
    position: relative;
    min-height: 415px;
  }

  &__loader {
    position: absolute;
    background-color: $color-white;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: none;

    &.load {
      display: block;
    }
  }

  &__loadouter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .loader {
      width: 48px !important;
      height: 48px !important;
      border: 3px solid #eb2028;
      border-radius: 50%;
      display: inline-block;
      position: relative;
      box-sizing: border-box;
      animation: rotation 1s linear infinite;
    }

    .loader::after {
      content: "";
      box-sizing: border-box;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 56px;
      height: 56px;
      border-radius: 50%;
      border: 3px solid;
      border-color: #2c3c8b transparent;
    }

    @keyframes rotation {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  }
}

.fb-dropitems {
  display: flex;
  align-items: center;
}

@include tablet {
  .fb-featured {
    &__product-slick {
      margin: $spacer-0;
    }
  }
}

@include mobile {
  .fb-featured {
    &__product-slick {
      margin: $spacer-0;
    }

    .slick-dots-container>ul {
      justify-content: flex-start;
    }
  }
}