.fb-newslettier {
  background-color: #fcfcff;

  &__top-head {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    color: rgb(59, 71, 128);
    padding: 50px 0;
  }

  &__bot {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__bot-content {
    display: flex;
    align-items: center;
  }

  &__bot-imgs {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
  }

  &__form-title {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: rgb(59, 71, 128);
    margin-bottom: 24px;
  }

  &__form {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 0;

    input {
      border: none;
      font-size: 14px;
      font-weight: 500;
      color: rgb(167, 170, 190);
      min-width: 250px;
      padding: 8px 0;
      padding-right: 16px;

      &::placeholder {
        font-size: 13px;
        color: rgb(167, 170, 190);
      }
    }

    button {
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 500;
      color: rgb(235, 32, 40);
      padding: 0;
    }
  }

  &__form-inpwrap {
    display: flex;
    border-bottom: 1px solid rgb(185, 208, 229);
    margin-bottom: 3px;
  }

  &__tost-message {
    opacity: 0;
    font-size: 13px;
    font-weight: 500;
    color: rgb(235, 32, 40);
    &--active {
      opacity: 1;
    }
  }
}

@include mobile {
  .fb-newslettier {
    &__top-head {
      font-size: 18px;
      padding: $spacer-2 0;
    }

    &__bot-imgs {
      display: none;
    }

    &__form-title {
      font-size: 16px;
    }

    &__form-inpwrap {
      flex-direction: column;
    }

    &__form {
      input {
        text-align: center;
      }
    }
  }
}
