.fb-review {
    background-color: #fff;

    .fb-review__cnt {
        margin-bottom: 24px;
    }

    .fb-input {

        label {
            font-size: 14px;
            margin-bottom: 8px;

            em {
                color: #eb2028;
            }
        }

        img {
            display: block;
            width: 120px;
        }

        textarea {
            height: 100px;
        }
    }

    .fb-product-tile-btn {
        margin-top: 24px;
        width: auto !important;
    }

    &__excellent {
        color: #6e7080;
        font-weight: 600;
        font-size: 14px;
        padding-bottom: $spacer-2;
    }

    &__description {
        color: #6e7080;
        font-weight: 500;
        font-size: 12px;
        padding-bottom: $spacer-2;
    }

    &__date {
        color: #a7aabe;
        font-style: normal;
        font-size: 11px;
        span {
            color: #6e7080;
            font-style: normal;
            font-weight: 600;
        }
    }

    &__rate {
        width: 60px;
        height: auto;
        padding-bottom: $spacer-2;
        img {
            width: 100%;
            height: 100%;
        }
    }
}

@include mobile {
    .fb-product-d__outer {
        display: flex;
        flex-direction: column-reverse;
    }

    .fb-product-d__inner {
        margin-bottom: 24px;
    }

    .fb-product-d__heading {
        margin-bottom: 16px;
    }
}