.fb-sidebar {
    &__controller {
        width: 100%;
        max-width: 112px;
        display: none;
        align-items: center;
        justify-content: center;
        padding: 10px 8px;
        border: 1px solid #dadce3;
        border-radius: 3px;

        &-logo {
            width: 13px;
            height: 13px;
            display: flex;
            align-items: center;
            justify-content: center;

            &-img {
                width: 100%;

                svg {
                    width: 100%;
                }
            }
        }

        &-text {
            font-size: 10px;
            font-weight: 600;
            color: #848799;
            text-transform: uppercase;
            margin-left: 4px;
        }
    }

    &__body {
        position: static;
        top: 0;
        left: -100%;
        width: 100%;
        transition: all .3s ease-in-out;
        background-color: #fff;

        &--active {
            left: 0;
            transition: all .3s ease-in-out;
            z-index: 12;
        }
    }

    &__head {
        width: 100%;
        display: none;
        align-items: center;
        justify-content: flex-start;
        padding: 12px;
        margin-bottom: 8px;
        box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;

        &-logo {
            width: 26px;
            height: 26px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            &-img {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 8px;

                svg {
                    width: 100%;

                    path {
                        stroke: #2c3c8b;
                        stroke-width: 1px;
                    }
                }
            }
        }
    }

    &__title {
        font-size: 17px;
        font-weight: 700;
        color: #51535d;
        padding-left: 12px;
    }

    .fb-filter-cnt {
        padding: 12px;

        .accordion-header {
            pointer-events: none;

            .accordion-button {

                &:not(.collapsed),
                &:focus {
                    background-color: transparent;
                    border: none;
                    outline: none;
                    border-radius: 0;
                    box-shadow: none;
                }

                &::after {
                    opacity: 0;
                    display: none;
                }
            }
        }

        &__head {
            margin-bottom: 0;
        }

        .accordion-body {
            padding: 0;

            .fb-filter__opns {
                padding: 16px 0;
            }
        }

        .collapse:not(.show) {
            display: block;
        }
    }

    .accordion-button {
        padding: 0;
    }
}

@include mobile-tablet {
    .fb-sidebar {
        &__controller {
            display: flex;
        }

        &__head {
            display: flex;
        }

        &__body {
            position: absolute;
        }

        .accordion {
            max-height: calc(100vh - 50px);
            overflow-y: scroll;
        }

        .fb-filter-cnt {
            padding: 12px;

            .accordion-header {
                pointer-events: all;

                .accordion-button {

                    &:not(.collapsed),
                    &:focus {
                        background-color: transparent;
                        border: none;
                        outline: none;
                        border-radius: 0;
                        box-shadow: none;
                    }

                    &::after {
                        display: block;
                        width: 15px;
                        height: 16px;
                        background-size: cover;
                        opacity: 1;
                    }
                }
            }

            &__head {
                margin-bottom: 0;
            }

            &__title {
                font-size: 15px;
            }

            .accordion-body {
                padding: 0;

                .fb-filter__opns {
                    padding: 16px 0;
                }
            }

            .collapse:not(.show) {
                display: none;
            }
        }

        .accordion-button {
            padding: 0;
        }
    }
}