.fb-tost{
    background: url(../../frontend/Kemana/frabelle/en_US/images/success-checklist.svg) center no-repeat;
    background-size: contain;
    content: '';
    height: 20px;
    width: 50px;
    display: inline-block;
}