.fb-your-addinfo {
  &__mainsec {
    .info-header {
      color: #51535d;
      font-style: normal;
      font-weight: 700;
      line-height: 23px;
      font-size: 20px;
      letter-spacing: 0;
    }
    .info-desc {
      p {
        margin-top: 12px;
        margin-bottom: 20px;
        color: #848799;
        font-style: normal;
        font-weight: 500;
        font-size: $spacer-3;
      }
    }
  }
  .info-shipping-address {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
    margin-bottom: 30px;
    .box {
      width: calc(50% - 40px);
      margin: 0 20px;
      margin-top: 10px;
    }
  }
  &__add-new-address {
    color: #2c3c8b;
    font-weight: 600;
    line-height: 20px;
    font-size: 15px;
    ::before {
      content: "+";
      padding-right: 5px;
      font-size: 19px;
    }
  }
}
@include mobile {
  .fb-your-addinfo {
    .info-shipping-address {
      flex-direction: column;
      .box {
        width: calc(100% - 20px);
        margin: 0 10px;
        margin-top: 20px;
      }
    }
  }
}
