.fb-your-addinfo {
  &__outer {
  }
  &__mainsec {
    .info-header {
      color: #51535d;
      font-style: normal;
      font-weight: 700;
      line-height: 23px;
      font-size: 20px;
      letter-spacing: 0;
    }
    .info-desc {
      p {
        margin-top: 12px;
        margin-bottom: 20px;
        color: #848799;
        font-style: normal;
        font-weight: 500;
        font-size: $spacer-3;
      }
    }
  }
}
