.fb-cart_popup{
    width: 100%;
    padding: 16px 24px;
    background: #fff;
    border: 1px solid #c1c3c9;
    border-radius: 3px;
    overflow: hidden;

    &__header{
        width: 100%;
        position: relative;
        padding-bottom: 16px;
        border-bottom: 1px solid #f5f5f5;
        &-text{
            font-size: 15px;
            font-weight: 600;
            color: #51535d;
            text-align: center;
            text-transform: capitalize;
        }
    }

    &__product-contns{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 12px 0;
        border-bottom: 1px solid #f5f5f5;
        ol,
        ul{
            width: 100%;
            list-style: none;
            li{
                width: 100%;
                &:last-child{
                    .fb-cart_popup__product{
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    &__product{
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 8px 0;
        margin-bottom: 4px;
        border-radius: 3px;
        overflow: hidden;
        &-img{
            &_wrap{
                width: 20%;
                border-radius: 3px;
                overflow: hidden;
                margin-right: 8px;
            }
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            cursor: pointer;
            img{
                width: 100%;
            }
        }

        &-cnt{
            flex: 1;
        }

        &-header{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &-title{
            font-size: 10px;
            font-weight: 600;
            color: #51535d;
            margin-bottom: 4px;
            text-decoration: none;
            cursor: pointer;
            &:hover{
                color: #51535d;
                text-decoration: none;
            }
        }   
        
        &-text{
            font-size: 10px;
            font-weight: 400;
            color: #848799;
            margin-bottom: 8px;
        }

        &-dlt{
            width: 22px;
            height: 22px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            padding: 0;

            svg{
                width: 100%;
            }
        }

        &:hover{
            background-color: #f7f8fc;
        }
    }

    &__subtotal{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 16px 0;

        &-text{
            font-size: 13px;
            font-weight: 600;
            color: #c31920;
        }
    }

    &__btn-wrap{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

     &__btn{
        width: calc(50% - 8px);
        display: inline-block;
        font-size: 11px;
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;

        background-color: #eb2028;
        cursor: pointer;
        padding: 12px 16px;
        text-align: center;
        border: 1px solid #eb2028;
        border-radius: 3px;
        transition: all 0.3s ease-in-out;
        margin-right: 8px;
        
        &:hover {
            background: #c31920;
            color: #fff;
        }
        
        &--inv{
            background-color: #f7f8fc;
            border: 1px solid #e1e1e3;
            color: #51535d;
            margin-right: 0;
            margin-left: 8px;
            &:hover{
                background-color: #ededed;
                color: #51535d;
            }
        }
    }
}