.fb-alert-popup {
  .modal-header {
    border: 0 !important;
    padding: $spacer-3 $spacer-4;
    margin-top: 10px;
  }

  .modal-footer {
    justify-content: flex-start;
    border: 0 !important;
    padding: $spacer-3 $spacer-4;
  }

  .modal-body {
    padding: $spacer-3 $spacer-4;
  }

  &__text {
    color: #9193a4;
    font-size: 14px;
  }

  .btn-secondary,
  .btn-primary {
    background-color: #fff;
    border: 1px solid #2c3c8b;
    color: #2c3c8b;
    font-size: 13px;
    font-weight: 500;
  }

  .btn-primary:focus {
    box-shadow: none;
  }

  .btn-check:focus+.btn-secondary,
  .btn-secondary:focus {
    box-shadow: none;
  }

  .btn-close:focus {
    box-shadow: none;
  }

  .btn {
    padding: $spacer-2 $spacer-3;
  }

  .modal-footer>* {
    margin: 6px;
  }

  .btn-close {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13.99 12.01'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23d9d9d9;%7D%3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_3' data-name='Layer 3'%3E%3Cpolygon class='cls-1' points='11.45 0 7 4.67 2.54 0 0 0 5.72 6 0 12.01 2.54 12.01 7 7.34 11.45 12.01 13.99 12.01 8.27 6 13.99 0 11.45 0'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    padding: 0;
    width: 12px;
    height: 12px;

    &:hover {
      background-image: url("data:image/svg+xml,%3Csvg width='22' height='21' viewBox='0 0 22 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 1.5L20 19.5' stroke='%233B4780' stroke-width='3' stroke-linecap='round'/%3E%3Cpath d='M2 19.5L20 1.5' stroke='%233B4780' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E");
    }
  }

  &--attention {
    .btn-close {
      background-image: url("data:image/svg+xml,%3Csvg width='22' height='21' viewBox='0 0 22 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 1.5L20 19.5' stroke='%233B4780' stroke-width='3' stroke-linecap='round'/%3E%3Cpath d='M2 19.5L20 1.5' stroke='%233B4780' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E");

      &:hover {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13.99 12.01'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23e82430;%7D%3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_3' data-name='Layer 3'%3E%3Cpolygon class='cls-1' points='11.45 0 7 4.67 2.54 0 0 0 5.72 6 0 12.01 2.54 12.01 7 7.34 11.45 12.01 13.99 12.01 8.27 6 13.99 0 11.45 0'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") !important;
      }
    }

    .modal-dialog {
      max-width: 425px;
    }

    .modal-content {
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      border: none;
    }

    .modal-header {
      position: relative;
      padding: 24px;

      &::after {
        position: absolute;
        content: '';
        width: 90%;
        height: 1px;
        background-color: $color-grey1;
        bottom: 5px;
        left: 50%;
        transform: translate(-50%);
      }

      h3 {
        width: 100%;
        text-align: center;
        color: $color-red;
        font-weight: 600;
      }
    }

    .modal-body {
      padding: 24px;

      p {
        text-align: center;
      }
    }

    .btn {
      width: 100%;
    }
  }
}