.fb-discover-tile {
  border-radius: 5px;
  overflow: hidden;
  a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  transition: 0.3s;
  img {
    width: 100%;
  }

  &:hover {
    opacity: 0.4;
    transition: 0.3s;
  }
}
