.fb-fav-popup {
    position: relative;
    margin-bottom: $spacer-3;
    .fb-click-drop__body {
        max-height: 100px;
        display: block;
        border: 0;
        position: static;
        margin-top: 0;
        &::after {
            display: none;
        }
        &.scroll {
            overflow-y: scroll;
        }
    }
}