.fb-filter-cnt {
    width: 100%;
    border: none;
    border-top: 1px solid #dadce3 !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    padding: 12px 0;

    &__head {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        position: relative;
    }

    &__title {
        font-size: 17px;
        font-weight: 700;
        color: #51535d;
        text-transform: capitalize;
    }

    &__clr {
        display: flex;
        align-items: center;
        justify-content: center;
        // position: absolute;
        // right: 0;
        // top: 50%;
        // transform: translateY(-50%);
        // margin-right: 16px;

        &-btn {
            display: inline-block;
            font-size: 12px;
            font-weight: 600;
            color: #2c3c8b;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            text-decoration: none;
            text-transform: capitalize;
            outline: none;
            border: none;

            &:hover {
                color: $color-red;
                text-decoration: none;
                text-transform: capitalize;
                outline: none;
                border: none;
            }
        }
    }

    .fb-filter-opns {
        width: 100%;

        &__list {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-start;

            &-item {
                width: 100%;
                margin-bottom: 10px;
                display: none;
                .fb-input-checkbox-wrap {
                    margin-bottom: 8px;

                    label {
                        &:hover {
                            color: $color-red;
                        }
                    }
                }
                &.show-item{
                    display: block;
                }
            }
        }

        &__current {
            width: 100%;
            padding: 16px 0;

            &-list {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: flex-start;
            }

            &-item {
                width: 100%;
                display: inline-block;
                margin-bottom: 10px;
                // mob
                // mr-30
                // w-auto
            }
        }
    }

    &__selected {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        &-btn {
            width: 11px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            margin-bottom: 2px;
            margin-right: 8px;

            &-logo {
                width: 100%;

                svg {
                    width: 100%;
                    height: auto;

                    path {
                        stroke: #2c3c8b;
                    }
                }
            }

            &:hover {
                .fb-filter-cnt__selected-btn-logo {
                    svg {
                        path {
                            stroke: $color-red;
                        }
                    }
                }
            }
        }

        &-text {
            font-size: 12px;
            font-weight: 500;
            color: #848799;
            padding-left: 8px;
        }
    }
}

@include mobile-tablet {
    .fb-filter-cnt {
        .fb-filter-opns {
            &__current {
                &-item {
                    width: auto;
                    display: inline-block;
                    margin-right: 30px;
                }
            }
        }
    }
}