.fb-fulfillment {
    padding: $spacer-4;
    background-color: $color-white;

    &__heading {
        font-size: 24px;
        color: #51535d;
        font-weight: 700;
        padding-bottom: $spacer-3;
    }
    &__sub-heading {
        font-size: 14px;
        font-weight: 500;
        color: #848799;
        padding-bottom: $spacer-3;
    }
    &__radio-sec {
        padding-bottom: $spacer-3;
    }
    &__radio-txt {
        font-size: 14px;
        font-weight: 600;
        color: #6e7080;
        letter-spacing: .3px;
        padding-bottom: $spacer-1;
    }
    &__radio-sub-txt {
        font-size: 12px;
        font-weight: 500;
        color: #848799;
        letter-spacing: .3px;
    }
    .form-check {
        margin-bottom: $spacer-3;
    }
    .form-check-input{
        width: 20px;
        height: 20px;
        &:checked {
            background-color: #2c3c8b;
        }
        &:focus {
            border-color: rgba(0,0,0,.25);
            outline: none;
            box-shadow: none;
        }
    }
    &__cta {
        background: #eb2028;
        font-size: 16px;
        font-weight: 600;
        color: $color-white;
        padding: $spacer-2 $spacer-3;
    }
}