.fb-order {
  background-color: $color-white;
  padding: $spacer-4;
  border-radius: 3px;
  overflow: hidden;

  &__heading {
    color: #51535d;
    font-weight: 700;
    font-size: 20px;
    padding-bottom: $spacer-3;
    border-bottom: 1px solid #ebebeb;
    text-align: center;
  }

  &__outer {
    margin: $spacer-4 0;
    padding-bottom: $spacer-3;
    border-bottom: 1px solid #ebebeb;
  }

  &__inner {
    display: flex;
    margin-bottom: $spacer-4;
    justify-content: space-between;
  }

  &__inner-left {
    color: #848799;
    font-size: 12px;
    font-weight: 400;
    text-align: left;

    &--center {
      text-align: center;
      margin-bottom: $spacer-1;
    }
  }

  &__total-txt {
    color: #c31920;
    font-size: 13px;
    font-weight: 600;

    &--right {
      text-align: right;
    }
  }

  &__free {
    background: #77b8c4;
    padding: 5px 7px 3px 7px;
    color: #ffffff;
    font-size: 10px;
    font-weight: 600;
  }

  .btn-secondary {
    background-color: transparent !important;
    border: 0;
    padding: 0;
    color: #848799;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
  }

  &__outer-reward {
    display: flex;
    margin-bottom: $spacer-5;
    justify-content: space-between;
    position: relative;
  }

  &__reward {
    display: flex;
    position: relative;
    cursor: pointer;

    &::after {
      position: absolute;
      content: "";
      width: 20px;
      height: 0;
      background-color: #ffffff;
      border-top: 1px solid #ebebeb;
      border-left: 1px solid #ebebeb;
      left: 85%;
      top: 20px;
      z-index: 1;
      transform: rotate(47deg);
      opacity: 0;
    }

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 20px;
      bottom: -20px;
      left: 0;
      // opacity: 0;
      display: none;
    }
  }

  &__pop {
    position: absolute;
    width: 65%;
    min-width: 200px;
    max-height: 0;
    opacity: 0;
    display: none;
    background-color: #fff;
    border: 1px solid #ebebeb;
    border-radius: 8px;
    padding: $spacer-4 $spacer-2;
    top: 30px;
    left: 0;
    color: #848799;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }

  &__ques-img {
    width: 10px;
    height: auto;
    margin-left: $spacer-1;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 100%;
      height: auto;
    }
  }

  &__blue-text {
    color: #2c3c8b;
    font-weight: 500;

    &:hover {
      color: #c31920;
    }
  }

  .fb-order__reward {
    &:hover {
      &::after {
        height: 20px;
        opacity: 1;
        z-index: 2;
      }

      &::before {
        // opacity: 1;
        display: block;
      }

      .fb-order__pop {
        max-height: 130px;
        opacity: 1;
        display: block;
        z-index: 1;
      }

      .fb-order__ques-img {
        svg {
          circle {
            fill: #77b8c4;
          }
        }
      }
    }
  }

  &__cta {
    background-color: #eb2028;
    color: #fff;
    padding: $spacer-3 $spacer-3 13px $spacer-3;
    font-size: 12px;
    font-weight: 600;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    position: relative;
    margin-bottom: $spacer-4;
    transition: 0.3s;

    p {
      padding-top: 6px;
    }

    &:hover {
      opacity: 0.7;
      color: #fff;
      transition: 0.3s;
    }
  }

  &__atome {
    width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;

    img {
      width: 100%;
    }
  }

  &__lock {
    width: 23px;
    height: 24px;
    margin-right: 6px;

    img {
      width: 100%;
    }
  }

  &__accordionedit {
    padding: $spacer-1 0 0;
    font-size: 10px;
    font-weight: 600;
    color: $color-grey3;
    transition: 0.3s;
    display: block;
    margin-top: $spacer-3;

    &:hover {
      transition: 0.3s;
      color: $color-red;
    }
  }

  &__summarydrop {
    margin-bottom: $spacer-3;

    &-item {
      border: 1px solid #dadce3;
    }

    &-body.accordion-body {
      padding: 0;
    }

    &-btn.accordion-button {
      justify-content: space-between;
      padding: 0 0 $spacer-2;
      font-size: 12px;
      background-color: $color-white;
      border-bottom: 1px solid #dadce3;
      box-shadow: none !important;

      &::after {
        position: absolute;
        background-size: cover;
        width: 15px;
        height: 15px;
        margin-left: 150px;
      }
    }

    &-btn.accordion-button:not(.collapsed) {
      color: $color-black;
    }

    &-head.accordion-header {
      display: none;
      padding: $spacer-3;
      color: $color-black;

      .fb-order__accordionedit {
        margin-top: $spacer-2;
      }

      span {
        color: $color-red;
        font-size: 12px;
      }

      &:hover {
        background-color: #ffffff;
      }
    }
  }
}

// @include mobile-tablet{

// }

@include mobile-tablet {
  .fb-order {
    padding: 0 $spacer-3 $spacer-3;
    display: flex;
    flex-direction: column-reverse;

    &__heading {
      display: none;
    }

    &__summarydrop {
      .accordion-header {
        display: block;
      }
    }

    .fb-dropdown {
      border: none;
      padding: 0;

      .accordion-item {
        border: none;
      }

      .accordion-button {
        display: none;
      }

      .fb-order__accordionedit {
        display: none;
      }
    }
  }
}