.fb-search-result {
  padding: $spacer-3 0 $spacer-5 0;
  // display: flex;
  display: none;
  margin: 0 -16px;
  align-items: center;

  &__left {
    width: calc(70% - 32px);
    margin: 0 16px;
    color: #3b4780;
    font-weight: 700;
    font-size: 20px;
  }

  &__right {
    width: calc(30% - 32px);
    margin: 0 16px;
  }

  &__sub-head {
    color: #707070;
    font-weight: 400;
    font-size: 13px;
    padding-bottom: $spacer-1;
  }

  &__products {
    color: #848799;
    font-weight: 500;
    font-size: 13px;
    padding-bottom: $spacer-1;
    transform: 0.3s;

    &:hover {
      color: #eb2028;
      transform: 0.3s;
    }
  }

  &.show {
    display: flex;
  }
}

@include mobile-tablet {
  .fb-search-result {
    padding: 0 $spacer-3;
    display: block;

    &__left {
      width: 100%;
      margin: 0;
      padding-bottom: $spacer-3;
    }

    &__right {
      width: 100%;
      margin: 0;
      padding-bottom: $spacer-4;
    }
  }
}